.btn-toggle {
  transition: transform 0.3s ease;
}
  
.btn-toggle.rotate {
  transform: rotate(45deg);
}

.custom-btn {
  width: 45px;
  height: 45px;
}

@media (max-width:768px){
  .custom-btn {
    width: 35px;
    height: 35px;
  }
}

  