
@media (max-width: 992px) {
    .custom-banner-text-bg{	
      background-color: rgba(24, 55, 136, 0.5); /* 0.5 represents 50% opacity */

    }

    #doc {
        height: 160px;
    }
}

@media (max-width: 768px) {
  .custom-home-service-img{
    max-width: 95% ;
  }

  #doc {
    height: 160px ;
  }
}

@media (max-width: 576px) {
  .custom-home-service-img{
    max-width: 95% ;
  }

  #doc {
    height: 140px;
  }
}

#banner {
  height: 100vh; /* Adjust the height as needed */
  background-image: url("/src/images/Banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0; /* Ensure no margin */
}

#doc {
    background-image: url("/src/images/docBackground.png");
    background-size: cover;
    background-position: center;
}