.custom-footer {
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(24,55,136,1) 100%);
}

.custom-footer-logo {
    width: 165px;
    height: 55px;
}

.custom-hr {
    width: 85%;
}

.icon-container {
    width: 100%; /* Full width to ensure the content aligns to the left */
    padding-left: 10%; /* Adjust padding as needed to space from the left edge */
  }

  @media (max-width: 768px) {
    .custom-hr {
      width: 75%; /* Adjust the width for smaller screens if needed */
    }
  }