.custom-logo {
    width: 135px;
    height: 45px !important;
}

.custom-login-btn {
    width: 125px;
    height: 35px;
}

.custom-loggedin-btn {
    height: 40px;
}

.custom-notification-btn{
    width: 28px;
    height: 28px;
}

.custom-user-img-icon{
    width: 40px;
    height: 40px;
}

.d-flex.justify-content-between {
    justify-content: space-between !important; 
}

@media (max-width: 768px){
    .custom-logo {
        width: 130px;
        height: 30px;
    }
    .custom-login-btn {
        width: 85px;
        height: 25px;
    }
    
    .custom-loggedin-btn {
        height: 30px;
    }

    .custom-notification-btn{
        width: 20px;
        height: 20px;
    }

    .custom-user-img-icon{
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 576px){
    .custom-logo {
        width: 120px;
    }
    .custom-login-btn {
        width: 100px;
    }
    
    .custom-loggedin-btn {
        height: 35px;
    }

    .custom-notification-btn{
        width: 20px;
        height: 20px;
    }

    .custom-user-img-icon{
        width: 35px;
        height: 35px;
    }
}

.custom-header {
    background: rgb(25,25,25);
background: radial-gradient(circle, rgba(25,25,25,1) 0%, rgba(24,55,136,1) 55%);
}

.custom-bg-sidebar-1{
    background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(24,55,136,1) 100%);
}
.custom-bg-sidebar-2 {
    background: rgb(24,55,136);
background: linear-gradient(90deg, rgba(24,55,136,1) 0%, rgba(0,0,0,1) 50%, rgba(24,55,136,1) 100%);
}

.custom-bg-sidebar-3 {
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
}

.full-width-dropdown {
    width: 1645px;
    top: 67px;
    left: 0 !important; /* Ensure it starts from the very left of the viewport */
    right: 0  !important; /* Ensure it spans to the very right of the viewport */
    border-radius: 0 !important; /* Remove border radius if any to make it consistent across the viewport */
}

.custom-loggedin-btn-bg {
	background: linear-gradient(145deg, rgba(24,55,136,1) 0%, rgba(24,55,136,1) 20%, rgba(162,192,238,1) 50%, rgba(124,175,243,1) 80%, rgba(124,175,243,1) 100%);
	background-size: 200% 200%; /* This enlarges the gradient so it has space to move */
	animation: gradientAnimation 3.5s ease-in-out infinite; /* Adjust the timing and easing */
}
@keyframes gradientAnimation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%; /* Moves the gradient */
	}
	100% {
		background-position: 0% 50%;
	}
}