.btn-toggle {
  transition: transform 0.3s ease;
}
  
.btn-toggle.rotate {
  transform: rotate(45deg);
}

.custom-btn {
  width: 50px;
  height: 50px;
}

@media (max-width:768px){
  .custom-btn {
    width: 40px;
    height: 40px;
  }
}

  